/* палитра цветов
1. основной цвет текста
2. цвет героя и футера
3. цвет бэкграунда 1
4. цвет бекграунда 2
5. вспомогательный цвет текста
  - белый вспомогательный
6. акцент 

7.
8.
9. цвета логотипа


*/

:root {
  --text-color-basic: #212121;
  --bg-hero-footer-color: #2f303a;
  --bg-color-frst: #ffffff;
  --bg-color-secnd: #f5f4fa;
  --text-color-secondary: #757575;
  --text-color-third: #ffffff;
  --accent-color: #2196f3;

  --logo-color-frst: #2196f3;
  --logo-color-scnd: #000;
  --logo-color-thrd: #fff;

  --icons-color: #afb1b8;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma';
  background-color: var(--bg-color-frst);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
}
.box {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header's styles */
.header-content {
  border-bottom: solid 1px #ececec;
}

.header-content .container {
  padding-top: 24px;
  align-items: baseline;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-scnd);
  width: 145px;
  height: 31px;
  text-decoration: none;
}

.logo-color {
  color: var(--logo-color-frst);
}

.nav-style {
  align-items: baseline;
}

.nav-list {
  margin-left: 93px;
  align-items: baseline;
}

.nav-list .link {
  text-decoration: none;
  color: var(--text-color-basic);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .current .link {
  color: var(--accent-color);
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .item.current::after {
  content: '';
  display: block;
  max-width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-header {
  margin-left: auto;
  align-items: baseline;
}

.contacts-header .link {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header .envelope,
.contacts-header .smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.contacts-header .item:not(:last-child) {
  margin-right: 30px;
}

/* hero section */

.hero-section {
  background-color: var(--bg-hero-footer-color);
  color: var(--text-color-third);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section-heading {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
}

/* section our benefits */

.features .headings {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-basic);
}

.features .text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.features {
  flex-wrap: wrap;
  margin-right: -30px;
}

.features .item {
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.icon-features {
  max-height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--bg-color-secnd);
  border-radius: 4px;
}

/* our work section*/

.our-work-section {
  padding-bottom: 94px;
}

.our-work-section .title,
.our-team-section .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-basic);
  text-align: center;
}

.our-work-section .list {
  margin-right: -30px;
}
.our-work-section .item {
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.our-work-thumb {
  position: relative;
}

.our-work-thumb .text {
  position: absolute;
  bottom: 0;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--text-color-third);
  text-transform: uppercase;
}

/* our team section */
.our-team-section {
  background-color: var(--bg-color-secnd);
}

.photo-capture {
  padding-top: 30px;
  background-color: var(--bg-color-frst);
}

.our-team-section .headings {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-basic);
}

.our-team-section .members {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-secondary);
}

.our-team-section-list {
  margin-right: -30px;
}

.our-team-item {
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-section .social-links {
  padding: 16px 32px 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-color-frst);
}

.our-team-section .social-links-list .item {
  margin-right: 10px;
}

.our-team-section .social-links-item {
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icons-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list .item:last-child {
  margin-right: 0;
}

.our-team-section .social-links-item:hover,
.our-team-section .social-links-item:focus {
  background-color: var(--accent-color);
  fill: var(--text-color-third);
}

/* --------our clients section ------- */

.our-clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-clients .list {
  margin-top: 50px;
  margin-right: -30px;
}

.our-clients .item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.our-clients .link {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  fill: var(--icons-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .link:hover,
.our-clients .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer's style-------------------------------------------- */

.footer-style {
  padding: 60px 0;
  background-color: var(--bg-hero-footer-color);
  color: var(--text-color-third);
}

.footer-style .container {
  align-items: baseline;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: var(--logo-color-thrd);
}

.address-style {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal; /* не трогать здесь так надо */
  line-height: 1.71;
}

.contact-link-footer {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}

.contacts-footer .item {
  margin-top: 9px;
}

.footer-social {
  padding-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social .social-links-list .item {
  margin-right: 10px;
}

.footer-social .social-links-item {
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--text-color-third);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list .item:last-child {
  margin-right: 0;
}

.footer-social .social-links-item:hover,
.footer-social .social-links-item:focus {
  background-color: var(--accent-color);
}

.footer-form {
  padding-left: 93px;
}

.footer-form-lable {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bg-hero-footer-color);
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-button {
  margin-left: 12px;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-color-third);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: var(--text-color-third);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* --------------------MODAL WINDOW -------------------- */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-color-frst);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: fixed;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-color-frst);

  fill: #000;
}

.btn-close:hover {
  cursor: pointer;
}

.order-btn {
  text-align: center;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--text-color-third);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-color-third);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.order-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-basic);
}

.order-text {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order-icon {
  position: absolute;
  top: 29px;
  left: 12px;
}

.order-input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.order-input:focus {
  border: 1px solid var(--accent-color);
}

.order-input:focus ~ .order-icon {
  fill: var(--accent-color);
}

.order-comments {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.order-check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.order-chekbox {
  margin-right: 8px;

  width: 15px;
  height: 16px;
  color: #212121;
}
/* -------------------PORTFOLIO SECTION --------------- */

.btn-list {
  justify-content: center;
  margin-bottom: 20px;
}

.btn-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-secnd);
  color: var(--text-color-basic);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-color-third);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  cards section  */

.projects .card-set {
  flex-wrap: wrap;
  margin-right: -30px;
}

.projects .card-set .item {
  margin-top: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .card-set .item:focus,
.projects .card-set .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--bg-color-frst);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .card-set .card-set-link:focus .card-overlay,
.projects .card-set .item:hover .card-overlay {
  transform: translateY(0%);
}

.projects .caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-basic);
}
.projects .text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.projects .card-descrp {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
